<?xml version="1.0" encoding="UTF-8"?>
<beans 
   xmlns="http://www.springframework.org/schema/beans" 
   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
   xmlns:aop="http://www.springframework.org/schema/aop" 
   xmlns:c="http://www.springframework.org/schema/c"
   xmlns:cache="http://www.springframework.org/schema/cache" 
   xmlns:context="http://www.springframework.org/schema/context"
   xmlns:jdbc="http://www.springframework.org/schema/jdbc" 
   xmlns:jee="http://www.springframework.org/schema/jee" 
   xmlns:lang="http://www.springframework.org/schema/lang" 
   xmlns:mvc="http://www.springframework.org/schema/mvc" 
   xmlns:p="http://www.springframework.org/schema/p" 
   xmlns:task="http://www.springframework.org/schema/task" 
   xmlns:tx="http://www.springframework.org/schema/tx" 
   xmlns:util="http://www.springframework.org/schema/util"
   xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd
		http://www.springframework.org/schema/cache http://www.springframework.org/schema/cache/spring-cache.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
		http://www.springframework.org/schema/jdbc http://www.springframework.org/schema/jdbc/spring-jdbc.xsd
		http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee.xsd
		http://www.springframework.org/schema/lang http://www.springframework.org/schema/lang/spring-lang.xsd
		http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd
		http://www.springframework.org/schema/t http://www.springframework.org/schema/tx/spring-tx.xsd ">
	<!--默认的mvc注解映射的支持 -->
    <mvc:annotation-driven/>

    <mvc:default-servlet-handler/>
    <context:component-scan base-package="com.hdu.cms.modules.**.action"></context:component-scan>
	<!-- Spring MVC JSON --> 
	<!-- 视图解析器和json解析器 -->
   <bean class="org.springframework.web.servlet.view.ContentNegotiatingViewResolver">
    <property name="mediaTypes">
        <map>
            <entry key="html" value="text/html"/>
            <entry key="json" value="application/json"/>
        </map>
    </property>
    <property name="viewResolvers">
        <list>
            <bean class="org.springframework.web.servlet.view.BeanNameViewResolver"/>
            <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
                <property name="prefix" value="/"/>
                <property name="suffix" value=".jsp"/>
            </bean>
        </list>
    </property>
    <property name="defaultViews">
        <list>
            <bean class="org.springframework.web.servlet.view.json.MappingJackson2JsonView" />
        </list>
    </property>
</bean>
	<!-- file upload -->
	<bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
		<property name="defaultEncoding"> 
	 		<value>UTF-8</value> 
	 	</property> 
	 	<property name="maxUploadSize"> 
	 		<value>104857600</value> 
	 	</property> 
	 	<property name="maxInMemorySize"> 
	 		<value>4096</value> 
	 	</property>
	</bean>
   <!--  拦截器的配置-->
    <mvc:interceptors>
        <bean class="com.hdu.cms.common.HandlerInterceptor.HttpServletResponseInterceptor" />
    </mvc:interceptors>
</beans>
